# This is Git's per-user configuration file.
[user]
	email = avila_andre14@hotmail.com
	name  = AvilaAndre

[init]
	defaultBranch = main

[core]
	editor = vim
	pager  = diff-so-fancy | less --tabs=4 -RFX

[commit]
	template = ~/.config/git/template

[push]
	autoSetupRemote = true  # easier to push new branches
	default         = current  # push only current branch by default
	followTags      = true  # push also tags

[pager]
	branch = false

[diff]
	algorithm  = histogram
	colorMoved = plain
	renames    = true

[interactive]
	diffFilter = diff-so-fancy --patch
	singlekey  = true

[blame]
	coloring = highlightRecent
	date     = relative

[color "diff"]
	oldMoved   = brightred bold
	newMoved   = brightblue bold
	whitespace = yellow reverse
	meta       = white bold
	frag       = magenta
	context    = white

[color "blame"]
	highlightRecent = red bold,3 months ago,yellow bold,1 month ago,green,7 days ago,blue

[diff-so-fancy]
	markEmptyLines  = false
	useUnicodeRuler = false

[tag]
	sort = version:refname

# URL shortcuts
[url "git@github.com:"]
	insteadOf = "gh:"
